-------------------------------------------
css
-------------------------------------------

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;	
	background-color: #f4f4f4;
}

.container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: auto auto 5fr auto;
	grid-template-areas:
		"header header"
		"navigation navigation"
		"main-content main-content"
		"footer footer";
	padding-right: 15px;
	padding-left: 15px;
}

@media (max-width: 768px) {
    .container {
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header"
            "navigation"
            "main-content"
            "footer";
    }
}

.heading {
	grid-column: 1/3;
	grid-area: header; 
	color: #fff;
	background-color: #35424a;
	padding-left: 10px;
}

.menu {
	grid-column: 1/3;
	grid-area: navigation;
	grid-row: 2/3;
	background-color: #f1f1f1;
}

.menu li a {
	padding: 0px 15px 0px 15px;
}

.nested {
    grid-area: main-content;
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
        "content1 content2";
	background: 
		linear-gradient( 
			rgba(8, 180, 245, 0.75),
			rgba(3, 20, 27, 0.91)), 
			url("../images/bground.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .nested {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "content1"
            "content2";
    }
}

.form {
	grid-area: content1;
	color: #555;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px;
	margin: 15px 20px 15px 20px;
}

.body-content {
    grid-area: content2;
    color: white;
	padding: 0px 10px 0px 10px;
}

.body-content p{
    font: 24px 300 Roboto; 
}

.body-content h2{
    margin-bottom: 16px !important;
    font: 300 Roboto;
    font-size: 54px;
}

@media (max-width: 768px) {
    .body-content h2{
        font-size: 36px;
    }
}

footer {
	grid-area: footer;
	margin: 5px 0px 5px 0px;
	grid-column: 1/3;
	display: block;
	padding: 20px;
	background-color: #808080;
	font: 15px Verdana, sans-serif;
	color: #fff;
	text-align: center;
}

.content {
	font-size: 20px;
}

.nav {
	text-align: right;
}

.nav li {
	font-size: 20px;
    display: inline
}

@media (max-width: 768px) {
    .nav li {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

a {
	color: #337ab7;
	text-decoration: none;
	background-color: transparent;
}

a:active, a:hover {
	outline: none;
}

ul {
	list-style: none;
    padding: 0;
}

h1 {
	font-size: 2em;
	font-family: inherit;
	line-height: 1.5;
	color: inherit;
}

button, input {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	background-color:  rgb(40, 167, 69);
	background-image: linear-gradient(-180deg, rgb(52, 208, 88));
	color: #fff;
	padding: 15px 20px 15px 20px;
	display: block;
	border: 1px solid;
	border-radius: 6px;
	border-bottom-color: rgba(27, 31, 35, 0.2);
	font: 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
}

button, input[type="button"], input[type="submit"] {
	cursor: pointer;
} 

input[type="search"] {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 5px;
	box-sizing: content-box;
    margin-right: 10px;
	-webkit-appearance: textfield;
}

@media (max-width: 768px) {
    input[type="search"] {
        margin-left: 0px;
        width: auto;
    }
}

input[type="text"] {
	margin-bottom: 10px;
	padding: 15px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
    width: 100%;
}

input[type="password"] {
	margin-bottom: 10px;
	padding: 15px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
    width: 100%;
}

@media (max-width: 768px) {
    input[type="text"] {
        display: block;
        width: 100%;
        padding: 15px 5px 15px 5px; 
    }
    input[type="password"] {
        display: block;
        width: 100%;
        padding: 15px 5px 15px 5px;
    }
}

/*
@media (max-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (max-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (max-width: 1200px) {
	.container {
		width: 1170px;
	}
}
*/

.form: -moz-placeholder {
	color: #999;
	opacity: 1;
}

.checkbox {
	position: relative;
	display: inline;
	margin: 15px 5px 15px;
	cursor: pointer;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
