@import url('icon-css.css');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #4d4d4d;
}

.body {
  margin: 0 auto;
  padding-top: 64px;
}

.container {
  margin: 0 auto;
  padding: 0px 25px 25px;
}

.login-body {
  background-image: url("../images/login_bg.jpg");
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 0px
}

.body h1 {
  margin-top: 0;
}
.menu {
  padding-top: 50px;
  background-image: url("../images/carsl_image.jpg");
  background-size: cover;
}
@media screen and (min-width: 767px) {
 .menu {
  background-attachment:fixed
 }
}
.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}
.navbar-header:after{
  clear: both;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #28ba28;
  background-color: transparent;
}
.menu-navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.menu-navbar li a {
  color: rgb(255, 255, 255)
}
.menu-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.menu-nav > li {
  position: relative;
  display: block;
}
.menu-nav > li > a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
}
.menu-nav > li > a:hover,
.menu-nav > li > a:focus {
  text-decoration: none;
  color: #28ba28;
  background-color: transparent;
}
.navbar-nav {
  margin: 7.5px 0px 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
  }
  .navbar-nav > li > a,
  .navbar-nav {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav > li > a {
    line-height: 20px;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.nav {
  background-color: #0F215E;
}

li a.active {
  color: #fff;
}

.nav-icon {
  font-size: 1.2em;
}

.name-link a{
  text-decoration: none;
  color: #B24824;
}

.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:10px;
   right:-0.5px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.side-nav {
  border-radius: 6px;
  margin: 15px 0px;
  padding: 15px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-card {
  background-color: #141621;
}

.side-card {
  padding: 15px 15px;
  border-radius: 6px;
  margin: 15px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-card img {
  max-width: 100%;
  max-height: 100%;
}

.blue-card li a {
  color: #fff !important;
}

.side-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-nav a {
  color: #4d4d4d;
  padding: 8px 0px 8px 16px;
  text-decoration: none;
}

.side-nav li a {
  color: #4d4d4d;
  display: block;
  padding: 8px 0px 8px 16px;
  text-decoration: none;
}

.side-nav li a:hover {
  border-radius: 8px;
  color: #28ba28;
}

img {
  vertical-align: middle;
}

.suggestion-box {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
}

.suggestion-list {
  float: left;
  width: 100%;
  padding: 10px 0 10px 0;
}

.suggestion-body {
  width: 100%;
  padding: 2px 20px;
  float: left;
}

.suggestion-body img {
  width: 44px;
  height: 44px;
  padding: 2px;
  float: left;
  border: 1px solid #f4f4f4;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.suggestion-body span {
  float: right;
  margin-top: 4px;
  position: relative;
}

.suggestion-body span i {
  color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}

.name-box {
  float: left;
  padding-left: 10px;
  position: relative;
  padding-top: 0px !important;
  top: -4px;
}

.body-content {
  margin: 0 auto;
  max-width: 80%;
}

.intro-body {
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  padding: 16px 15px;
}
.intro-body .brand-heading {
 text-transform:none;
 font-size:2.27em;
 margin:0;
 word-wrap: break-word;
}
.intro-body .brand-heading {
 font-size: 4.1em
}
@media (min-width: 767px) {
 .intro-body .brand-heading {
  font-size:4.3em
 }
 .intro-body .intro-text {
  font-size:25px
 }
}
.intro-text {
  font-size: 25px;
  padding-bottom: 18px;
  margin-bottom: 0.5em;
}
.intro-para {
  margin: 0 0 35px;
  line-height: 1.6;
  text-align: center;
}

.message-para {
  margin: 0 0 35px;
  line-height: 1.4;
  text-align: justify;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.contact {
  color: #000 !important;
  background-color: #f1f1f1;
  padding: 0px 20px 40px 20px;
  margin: 0 auto;
}

.contact-body {
  margin: 0 auto;
  max-width: 80%
}

.ride-blue {
  color: #fff;
  background-color: #545557 !important;
  padding: 44px 0px !important;
}

.ride-input {
  padding: 12px 10px;
  border: 1px solid #ccc !important;
  margin: 0;
  width: 100%;
  border-radius: 4px;
}

.ride-button {
  background-color: #000 !important;
  padding: 12px 24px !important;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #fff;
}

.ride-button:hover {
  color: #000 !important;
  background-color: #ccc !important
}

.ride-login-form {
  background-color: #060200;
  border-radius: 4px;
  padding: 15px;
  max-width: 450px;
  margin: 10% auto;
  opacity: 0.7;
  color: #fff;
}

.ride-form-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  color: #fff;
}

.ride-form-group {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .ride-form-group {
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: middle;
    width: 100%;
  }
  .ride-form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .ride-form-group {
    margin-bottom: 5px;
  }
  .ride-form-group:last-child {
    margin-bottom: 0;
  }
}

textarea.ride-form-control {
  height: auto;
}

textarea {
  overflow: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px !important;
    padding: 0px 5px;]
    vertical-align: middle;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px !important;
    padding: 0px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.ride-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ride-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.ride-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.ride-form-control:-ms-input-placeholder {
  color: #999;
}
.ride-form-control::-webkit-input-placeholder {
  color: #999;
}
.ride-form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.ride-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.ride-btn:focus,
.ride-btn:active:focus,
.ride-btn.active:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ride-btn:hover,
.ride-btn:focus {
  color: #333;
  text-decoration: none;
}
.ride-btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.form-btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.form-btn:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.form-btn:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.form-submit-btn {
  background-color: #FF4E02 !important;
  border: 1px solid #FF4E02 !important;
  width: 100%;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5px;
 }
.form-submit-btn:hover {
  background-color: #6B474A !important;
  color: #fff !important;
  border: 1px solid #533538 !important;
 }

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px
}

.login-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 510px
}

@media(max-width: 768px) {
  .login-content {
    padding: 25px;
  }
}
.display-container {
  position: relative;
}

.display-right {
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%)
}

.crsl-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.7;
  padding: 15px 15px 15px 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media(max-width: 768px) {
  .crsl-btn {
    padding: 15px 15px 15px -5px;
  }
}
.myForms {
  display: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
html input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.panel {
  background-color: #eee;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 15px 30px
}

.ride-blue-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.ride-blue-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
  color:#ffffff;
}
.ride-blue-btn:active {
  position:relative;
  top:1px;
}
.ride-blue-btn:focus {
  color: #fff;
  text-decoration: none;
}

.action-btn {
  padding: 6px 10px !important;
  font-size: 15px !important;
}

.add-offer-btn {
  margin-bottom: 10px !important;
}

.map {
  margin: 0 auto;
  padding: 0px 10px 30px;
  background-color: #eee;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
/*
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
}
*/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #337ab7;
  border-radius: 10px;
  top: -1px;
  position: relative;
}

.badge:empty {
  display: none;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

/* DEMO 5 */

.wrapper-dropdown-5 {
    /* Size & position */
    margin: 0 auto;
    padding: 5px 50px;

    /* Styles */
    background: transparent;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    /* Styles */
    background: #f9f9f9;
    border-radius: 0 0 5px 5px;
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
    color: #000;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #28ba28;
}

/* Active state */

.wrapper-dropdown-5.active {
    box-shadow: none;
    border-bottom: none;
    color: inherit;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.ride-card {
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  vertical-align: middle;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-info a {
  display: inline-block !important;
  padding: 0px 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.detail {
  color: #fff;
}
.profile-card-pic {
  border-radius: 50%;
  border: 1px solid #efefef;
}
.profile-nav-pic {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  padding: 0px 5px 5px 0px;
  margin: 0px;
}

.ride-search {
  margin: 15px 0;
}

.ride-search input[type=text] {
  width: 80%;
  border-radius: 3px;
  font-style: italic;
  padding: 10px 5px;
  margin: 0;
  border: 1px solid #aaa;
}

.ride-blue-icon li a {
  color: #222B49;
}

.ride-card-icon {
  display: inline-flex;
  vertical-align: middle;
  font-size: 2em;
}

.ride-card-icon li {
  list-style-type: none;
  padding: 0px 10px 0px 10px;
}

/**
 * Footer Styles
 */

footer {
  color: #e3dede;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #1C1A2A;
  text-align: center;
}

footer a {
  color: #e3dede
}
